.immediately_area {
  .title {
    height: 44px;
    padding: 0 10px 0 20px;
    line-height: 44px;
    color: rgba(255, 255, 255, 0.35);
  }

  .im_list {
    .im_item {
      display: flex;
      align-items: center;
      height: 44px;
      margin-bottom: 5px;
      padding: 0 10px 0 20px;
      font-size: 16px;
      font-weight: 200;
      color: #fff;
      cursor: pointer;
      &:hover {
        background-color: rgba(0, 0, 0, 0.2);
      }

      img {
        width: 30px;
        height: 30px;
        margin-right: 10px;
        border-radius: 15px;
      }
    }

    .more_item {
      padding-left: 60px;
    }
  }
}
