.d_header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgb(0, 106, 166);
  z-index: 100;

  .header_wrap {
    display: flex;
    justify-content: space-between;
    height: 48px;
    padding: 0 20px;
    max-width: 1280px;
    margin: 0 auto;

    // left_wrap
    .left_wrap {
      flex: 1;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 0 16px;

      .mobile_nav {
        display: none;
        width: 24px;
        height: 24px;
      }

      .logo {
        width: 74px;
        padding: 10px 0;
        .logo_img {
          width: 100%;
          height: 100%;
        }
      }
      .search_wrap {
        flex: 1;
        padding: 0 32px;
        max-width: 666px;
        min-width: 200px;
        .search_box {
          position: relative;
          display: flex;
          // width: calc(100% - 56px);
          height: 30px;
          border-radius: 4px;
          overflow: hidden;
          border: 1px solid rgb(0, 88, 138);
          background-color: rgb(0, 88, 138);

          .search_ipt {
            flex: 1;
            height: 100%;
            padding: 0 8px;
            background-color: transparent;
            color: #fff;
            &::placeholder {
              color: rgb(227, 227, 227);
              font-weight: 200;
            }
          }

          .cancel_text {
            position: absolute;
            top: 50%;
            right: 45px;
            transform: translateY(-50%);
            width: 14px;
            height: 14px;
            border-radius: 7px;
            background-color: transparent;

            svg {
              fill: rgba(255, 255, 255, 0.35);
            }
          }

          .search_btn {
            position: relative;
            width: 40px;
            height: 30px;
            background-color: rgb(0, 106, 166);
            vertical-align: middle;
            cursor: pointer;
            &::after {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              content: '';
              display: inline-block;
              width: 20px;
              height: 20px;
              background: url('../../../../assets/img/search_icon.png');
              background-size: contain;
            }
          }
        }
      }
    }

    // right_wrap
    .right_wrap {
      display: flex;
      justify-content: center;
      align-items: center;

      .user_m {
        display: flex;
        align-items: center;
        padding: 0 12px;
        svg {
          width: 24px;
          height: 24px;
          fill: rgb(255, 255, 255, 0.6);
        }
      }

      .login_user_bar {
        display: flex;
        .disable_btn {
          > button {
            cursor: not-allowed;
          }
        }

        .comment_icon {
          cursor: pointer;
        }

        & > div {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 60px;
          height: 100%;

          & > button {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            background-color: transparent;
          }

          svg {
            width: 24px;
            height: 24px;
            fill: rgb(255, 255, 255);
          }
        }
      }

      .login {
        display: flex;
        color: #fff;
        font-weight: 200;
        cursor: pointer;

        .login_text {
          white-space: nowrap;
        }
      }
      .more_slide {
        position: relative;
        width: 28px;
        height: 100%;
        cursor: pointer;
        &::after {
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          border-top: 7px solid #fff;
          border-right: 7px solid transparent;
          border-bottom: 7px solid transparent;
          border-left: 7px solid transparent;
          border-radius: 2px 2px 2px 2px;
          transform: translate(-50%, -20%);
        }

        .service_bar {
          position: absolute;
          top: 43px;
          right: -12px;
          padding: 0 6px;
          z-index: 999;
        }
      }
      .download_wrap {
        position: relative;
        display: flex;
        align-items: center;
        height: 100%;
        .download_btn {
          // position: relative;
          margin-left: 15px;
          padding: 7.25px 14px;
          border-radius: 8px;
          color: #fff;
          background-color: #3397cf;
          cursor: pointer;
          &:hover {
            background-color: #5ab0db;
          }

          .btn_text {
            white-space: nowrap;
          }
        }

        .qrcode_wrap {
          position: absolute;
          top: 45px;
          left: -33px;
          padding-top: 10px;
          .download_qrcode {
            padding: 12px 16px;
            box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.08);
            border-radius: 12px;
            background-color: #fff;
            color: #000;
            .title {
              margin-bottom: 5px;
              color: rgba(0, 0, 0, 0.75);
              text-align: center;
            }
            .qrcode_img {
              width: 100px;
              height: 100px;
            }
            .zoom_item {
              margin-top: 3px;
              text-align: center;
              color: rgb(51, 151, 207);
              cursor: pointer;
            }
          }
        }
      }
    }
  }
  .mobile_header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;

    .track_title {
      margin: 0;
      font-size: 16px;
      font-weight: 400;
      color: #fff;
    }
  }
}

// animation qrcode
.qrcode-enter-active,
.qrcode-leave-active {
  transition: opacity 0.3s;
}

.qrcode-enter-from,
.qrcode-leave-to {
  opacity: 0;
}

.qrcode-enter-to,
.qrcode-leave-from {
  opacity: 1;
}

// media 767
@media screen and (max-width: 767px) {
  .d_header {
    .header_wrap {
      padding-right: 4px;
      .left_wrap {
        padding: 0;
        .mobile_nav {
          display: block;
          margin-right: 16px;
        }
        .search_wrap {
          display: none;
        }
      }
      .right_wrap {
        display: flex;
        align-items: center;
        .search_m {
          display: flex;
          align-items: center;
          padding: 0 12px;
          svg {
            width: 24px;
            height: 24px;
            fill: rgb(255, 255, 255, 0.6);
          }
        }
        .login {
          display: none;
        }
        .more_slide {
          display: none;
        }
        .download_wrap {
          display: none;
        }
        .card_icon,
        .mail_icon {
          display: none;
        }
      }
    }
  }
}

.currentShowPadding {
  padding: 0 16px !important;
}
