.d_header {
  display: flex;
  justify-content: space-between;
  height: 48px;
  padding: 0 20px;
  background-color: rgb(0, 106, 166);

  // left_wrap
  .left_wrap {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 16px;
    .logo {
      width: 74px;
      padding: 10px 0;
      .logo_img {
        width: 100%;
        height: 100%;
      }
    }
    .search_wrap {
      flex: 1;
      padding: 0 32px;
      max-width: 666px;
      min-width: 200px;
      .search_box {
        display: flex;
        width: calc(100% - 56px);
        height: 30px;
        border-radius: 4px;
        overflow: hidden;
        border: 1px solid rgb(0, 88, 138);
        background-color: rgb(0, 88, 138);

        .search_ipt {
          flex: 1;
          height: 100%;
          padding: 0 8px;
          background-color: transparent;
          color: #fff;
        }
        .search_btn {
          position: relative;
          width: 40px;
          height: 30px;
          background-color: rgb(0, 106, 166);
          vertical-align: middle;
          cursor: pointer;
          &::after {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            content: '';
            display: inline-block;
            width: 20px;
            height: 20px;
            background: url('../../../../assets/img/search_icon.png');
            background-size: contain;
          }
        }
      }
    }
  }

  // right_wrap
  .right_wrap {
    display: flex;
    align-items: center;
    .login {
      padding: 0 16px;
      color: #fff;
      cursor: pointer;
    }
    .more_slide {
      position: relative;
      width: 28px;
      height: 100%;
      cursor: pointer;
      &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        border-top: 7px solid #fff;
        border-right: 7px solid transparent;
        border-bottom: 7px solid transparent;
        border-left: 7px solid transparent;
        border-radius: 2px 2px 2px 2px;
        transform: translate(-50%, -20%);
      }
    }
    .download_btn {
      margin-left: 15px;
      padding: 7.25px 14px;
      border-radius: 8px;
      color: #fff;
      background-color: #3397cf;
      cursor: pointer;
      &:hover {
        background-color: #5ab0db;
      }
    }
    
  }
}