.m_search_window {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 49px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(242, 243, 244);
  z-index: 999;
  .hd_wrap {
    position: sticky;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 99;
  }
}

// mask
.mask {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.5);
}

// transition
.qrcode_window-enter-active,
.qrcode_window-leave-active {
  transition: opacity 0.3s linear;
}

.qrcode_window-enter-from,
.qrcode_window-leave-to {
  opacity: 0;
}

.qrcode_window-enter-to,
.qrcode_window-leave-from {
  opacity: 1;
}
