.comment_artical {
  // position: absolute;
  // top: 0;
  // left: 50%;
  // bottom: 0;
  // transform: translateX(-50%);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 728px;
  height: 100%;
  background-color: #fff;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    display: none; /* Chrome Safari */
  }
}

// media 767
@media screen and (max-width: 767px) {
  .comment_artical {
    left: 0;
    right: 0;
    transform: initial;
    width: 100%;
    margin: 0;
    padding-top: 12px;
  }
}
