.artical_body {
  padding: 0 60px;
  .title {
    margin: 0;
    font-weight: 500;
    font-size: 28px;
    color: rgba(0, 0, 0, 0.95);
  }
  .artical_info {
    margin-top: 12px;
    color: rgba(0, 0, 0, 0.35);

    .sort {
      color: #3397cf;
      cursor: pointer;
    }
  }
  .artical_main {
    padding-top: 20px;
    font-size: 16px;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.75);
  }
}
